<%= form_with model: instance, local: true do |form| %>
  <% if instance.errors.any? %>
    <% instance.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div>
    <%= form.label :code %>
    <%= form.text_field :code%>
  </div>
  <div>
    <%= form.label :start_at %>
    <%= form.date_select :start_at %>
  </div>
  <div>
    <%= form.label :end_at %>
    <%= form.date_select :end_at %>
  </div>
  <div>
    <%= form.label :study %>
    <%= form.select(:study_id,
      options_for_select(@studies.map { |study| [study.name, study.id] }, :selected =>
      params[:study_id])) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>