<%= form_with model: study, local: true do |form| %>
  <% if study.errors.any? %>
    <% study.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :credits%>
    <%= form.text_field :credits %>
  </div>
  <div>
    <%= form.label :semester%>
    <%= form.text_field :semester %>
  </div>

  <%= form.select(:establishment_id,
      options_for_select(@establishments.map { |establishment| [establishment.name, establishment.id] }, :selected => params[:establishment_id])) %>

  <div>
    <%= form.submit %>
  </div>
<% end %>