<%= form_with model: establishment, local: true do |form| %>
  <% if establishment.errors.any? %>
    <% establishment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>