<h1>Establishment `<%= @establishment.name %>`</h1>

<h2>Studies available:</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Credits</td>
      <td>Semester</td>
      <td>Instances</td>
      <td colspan="3"></td>
    </tr>
  </thead>
  <tbody>
    <% @establishment.studies.each do |study| %>
      <tr>
        <td><%= study.name %></td>
        <td><%= study.credits %></td>
        <td><%= study.semester %></td>
        <td><%= study.instances.count %></td>
        <td>
          <%= link_to 'Show', study %>
          <% if session[:editable] %>
            <%= link_to 'Edit', edit_study_path(id: study, establishment_id: @establishment.id) %>
            <%= link_to 'Destroy', study, method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Study', new_study_path(establishment_id: @establishment.id) if session[:editable] %>
<%= link_to 'Back', establishments_path %>