<!DOCTYPE html>
<html>
  <head>
    <title>LaureaPlanning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'My recap', root_path %>
    <%= link_to 'Establishment list', establishments_path %>
    <% if session[:editable] %>
      <%= link_to 'Disable edition', disable_edition_path, method: :delete %>
    <% else %>
      <%= link_to 'Enable edition', enable_edition_path %>
    <% end %>

    <p id="notice"><%= notice %></p>

    <%= yield %>
  </body>
</html>
